@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-canvas: #fffefb;
  --color-canvas-soft: #f8f4f0;
  --color-ink: #201515;
  --color-ink-soft: #2f2a26;
  --color-ink-mid: #36342e;
  --color-body: #605d52;
  --color-body-mid: #939084;
  --color-mute: #c5c0b1;
  --color-primary: #ff4f00;
  
  --radius-md: 12px;
}

@layer base {
  body {
    @apply bg-canvas text-ink font-sans;
  }
}
